In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

data =pd.read_csv("housepriceprediction.csv")

In [4]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [5]:
# Step 1 Data Prepration

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [6]:
data['date'] = pd.to_datetime(data['date'])

min_year = data['date'].min().year
max_year = data['date'].max().year

print(f"The dataset covers the years from {min_year} to {max_year}.")

The dataset covers the years from 2014 to 2014.

In [7]:
# Step 2 Feature Engineering:

data['total_sqft'] = data['sqft_living'] + data['sqft_lot'] + data['sqft_above'] + data['sqft_basement']
print(data['total_sqft'])

0       10592
1       16350
2       15807
3       12030
4       14380
        ...
4595     9380
4596    10493
4597    13034
4598    10810
4599    11082
Name: total_sqft, Length: 4600, dtype: int64

In [8]:
data['house_age'] = 2014 - data['yr_built']

print(data['house_age'])

0       59
1       93
2       48
3       51
4       38
        ..
4595    60
4596    31
4597     5
4598    40
4599    24
Name: house_age, Length: 4600, dtype: int64

In [9]:
print(data['yr_renovated'].unique())

[2005    0 1992 1994 2010 1988 2009 1969 2000 1979 1989 2014 1999 2003
 1983 1997 1912 1923 1954 2011 2001 2013 2006 1972 1985 1998 2004 1958
 2008 1970 1982 1986 1996 2002 1971 1990 1956 1945 1984 2012 1993 2007
 1981 1974 1963 1968 1995 1934 1953 1966 1955 1987 1960 1978 1980 1948
 1991 1913 1977 1975]

In [10]:
data['renovation_age'] = 2014 - data['yr_renovated'].replace(0, 2014)
print(data['renovation_age'])

0        9
1        0
2        0
3        0
4       22
        ..
4595    35
4596     5
4597     0
4598     0
4599     0
Name: renovation_age, Length: 4600, dtype: int64

In [11]:
data['bedroom_to_bathroom_ratio'] = data['bedrooms'] / data['bathrooms']
print(data['bedroom_to_bathroom_ratio'])

0       2.000000
1       2.000000
2       1.500000
3       1.333333
4       1.600000
          ...
4595    1.714286
4596    1.200000
4597    1.200000
4598    2.000000
4599    1.200000
Name: bedroom_to_bathroom_ratio, Length: 4600, dtype: float64

In [12]:
#transformation of 'price' to reduce skewness

data['log_price'] = np.log1p(data['price'])

# 
data['sqrt_sqft_living'] = np.sqrt(data['sqft_living'])

# Basement
data['has_basement'] = (data['sqft_basement'] > 0).astype(int)

# Water front
data['is_waterfront'] = (data['waterfront'] == 1).astype(int)

# View
data['has_view'] = (data['view'] > 0).astype(int)

In [13]:
# Select Relevant Features and discard other:

selected_features = [
    'total_sqft',
    'house_age',
    'renovation_age',
    'bedroom_to_bathroom_ratio',
    'log_price',
    'sqrt_sqft_living',
    'has_basement',
    'is_waterfront',
    'has_view',
    'price'  
]

selected_data = data[selected_features]

selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   total_sqft                 4600 non-null   int64
 1   house_age                  4600 non-null   int64
 2   renovation_age             4600 non-null   int64
 3   bedroom_to_bathroom_ratio  4598 non-null   float64
 4   log_price                  4600 non-null   float64
 5   sqrt_sqft_living           4600 non-null   float64
 6   has_basement               4600 non-null   int32
 7   is_waterfront              4600 non-null   int32
 8   has_view                   4600 non-null   int32
 9   price                      4600 non-null   float64
dtypes: float64(4), int32(3), int64(3)
memory usage: 305.6 KB

In [14]:

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputed_data = pd.DataFrame(imputer.fit_transform(selected_data), columns=selected_features)

# Next Step is to Train Model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


X = imputed_data.drop('price', axis=1)
y = imputed_data['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")


print("Model Coefficients:")
for feature, coef in zip(imputed_data.columns, model.coef_):
    print(f"{feature}: {coef}")

Mean Squared Error (MSE): 938262202688.8262
Root Mean Squared Error (RMSE): 968639.3563596444
R-squared (R2) Score: 0.07999649966010791
Model Coefficients:
total_sqft: -0.37802544064783217
house_age: 2404.3742440822716
renovation_age: 267.61512930259505
bedroom_to_bathroom_ratio: -50028.48253340684
log_price: 87916.82206287661
sqrt_sqft_living: 22197.69232834211
has_basement: -41454.949823644274
is_waterfront: 536391.9630479384
has_view: 154203.74023389712

In [15]:
selected_data_copy = selected_data.copy()


median_ratio = selected_data_copy['bedroom_to_bathroom_ratio'].median()
selected_data_copy['bedroom_to_bathroom_ratio'].fillna(median_ratio, inplace=True)


missing_values = selected_data_copy.isnull().sum()
print("Missing Values after Imputation:")
print(missing_values)

Missing Values after Imputation:
total_sqft                   0
house_age                    0
renovation_age               0
bedroom_to_bathroom_ratio    0
log_price                    0
sqrt_sqft_living             0
has_basement                 0
is_waterfront                0
has_view                     0
price                        0
dtype: int64

In [16]:
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)  
rf_regressor.fit(X_train, y_train)
y_pred = rf_regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")

feature_importances = rf_regressor.feature_importances_
for feature, importance in zip(selected_features, feature_importances):
    print(f"{feature}: {importance}")

Mean Squared Error (MSE): 601934178102.687
Root Mean Squared Error (RMSE): 775844.1712758349
R-squared (R2) Score: 0.40977953791414834
total_sqft: 0.0020435814711632044
house_age: 0.0016718731775132577
renovation_age: 0.00033793828876556796
bedroom_to_bathroom_ratio: 0.0006789381983993182
log_price: 0.9891836897310217
sqrt_sqft_living: 0.005802120557362825
has_basement: 8.468948296609957e-05
is_waterfront: 0.00019140730870868925
has_view: 5.761784099281732e-06

In [17]:
tuned_rfr = RandomForestRegressor(
    max_depth=None,
    min_samples_leaf=1,
    min_samples_split=2,
    n_estimators=300,
    random_state=42)
    
tuned_rfr.fit(X_train, y_train)
y_pred = tuned_rfr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")

feature_importances = tuned_rfr.feature_importances_

Mean Squared Error (MSE): 593802255731.9281
Root Mean Squared Error (RMSE): 770585.6576214796
R-squared (R2) Score: 0.41775321203653193

In [18]:
# Assuming y_pred contains the predicted log prices
predicted_log_prices = model.predict(X_test)

# Calculate the maximum value of predicted log prices
max_log_price = np.max(predicted_log_prices)

# Shift the predicted log prices to a more reasonable range by subtracting the maximum value
shifted_log_prices = predicted_log_prices - max_log_price

# Transform the shifted log prices to actual prices using np.expm1
predicted_prices = np.expm1(shifted_log_prices)

In [19]:
import pickle

with open('model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)